$primary_font: "Open Sans", sans-serif;
$primary_font_color:  #7d838b;
$secondary_font_color: #ffffff;
$additional_color: #000000;
$primary_head_color: #4b4f52;
$secondary_head_color: #303335;
$accent_color: #ff9b9b;
$fa-font-path: "libs/font-awesome/fonts";
@import "fonts";